Source: astral
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Mycroft Devs <devops@mycroft.ai>
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python-tz,
               python3-tz, 
               python3-setuptools
Standards-Version: 4.0.0

Package: python-astral
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: astral module for Python
 This package contains the module for Python 2.x.

Package: python3-astral
Architecture: any
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Provides: ${python:Provides}
Description: astral - Python 3.x
 This package contains the module for Python 3.x.
